@import "./reset.css";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #00c3ff, #9246f3);
  padding: 5px 20px;
}
header h1 {
  font-size: 1.2rem;
  color: white;
}
header nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.users {
  margin-right: 10px;
}

.users,
.top-nav {
  display: flex;
  align-items: center;
}

.users img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  box-sizing: border-box;
}
.users li {
  position: relative;
}
.users li:nth-of-type(1) img {
  z-index: 4;
  position: relative;
  margin-right: -5px;
}
.users li:nth-of-type(2) img {
  z-index: 3;
  position: relative;
  margin-right: -5px;
}
.users li:nth-of-type(3) img {
  z-index: 2;
  position: relative;
}
.users i {
  background-color: rgba(255, 255, 255, 0.317);
  border-radius: 50%;
  font-size: 20px;
  padding: 10px 12px;
  margin-left: 5px;
}
.users .fa-plus {
  color: white;
}
