@import "/src/css/reset.css";

// VARIABLES

$primary-color: #00c3ff;
$secondary-color: #9246f3;
$accent-color: #17d7ca;
$text-color-light: black;
$box-shadow-light: 1px 1px 2px 2px rgba(0, 0, 0, 0.088);
$off-color: rgb(95, 95, 95);
$hero-off-color-light: rgb(240, 240, 240);
$bgn-color-light: rgb(226, 226, 226);
$bgn-color-light-wb: white;
$btn-bgn-color: rgba(255, 255, 255, 0.153);
$default-radius: 5px;
$secondary-radius: 8px;
$btn-hover: linear-gradient(45deg, #9246f3, #00c3ff);

$bgn-color-dark: rgb(31, 31, 31);
$bgn-color-dark-wb: #343434;
$text-color-dark: white;
$box-shadow-dark: 1px 1px 2px 2px rgba(255, 255, 255, 0.088);
$hero-off-color-dark: #2c2c2c;

// DARK MODE

:root {
  --bg-color: #{$bgn-color-light};
  --bg-color-wb: #{$bgn-color-light-wb};
  --text-color: #{$text-color-light};
  --box-shadow: #{$box-shadow-light};
  --hero-off-color: #{$hero-off-color-light};
}

body.dark-mode {
  --bg-color: #{$bgn-color-dark};
  --bg-color-wb: #{$bgn-color-dark-wb};
  --text-color: #{$text-color-dark};
  --box-shadow: #{$box-shadow-dark};
  --hero-off-color: #{$hero-off-color-dark};
}

// FONTS

@font-face {
  font-family: "Open Sans";
  src: url("/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/google-fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

// MIXIN

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// GENERAL

body {
  // margin: 4px;
  font-family: "Open Sans", sans-serif;
  // height: 100vh;
}

button {
  cursor: pointer;
}

// button, input {
//   background: linear-gradient(90deg, $primary-color, $secondary-color);
// }

p,
h2,
h3 {
  color: var(--text-color) !important;
}

// button:not(.sign-up-btn) {
//   background-color: var(--bg-color);
// }

// HEADER

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top-left-radius: $secondary-radius;
  // border-top-right-radius: $secondary-radius;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // position: sticky;
  // top: 4px;
  // left: 4px;
  // right: 4px;
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  padding: 5px 20px;

  h1 {
    font-size: 1.6rem;
    color: white;
    font-family: "Pacifico", cursive;
  }

  nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}

.logo {
  @include flex-center;
  // margin-left: 5px;
  cursor: pointer;
  img {
    height: 40px;
    padding-right: 10px;
  }
}

.users {
  margin-right: 10px;
}

.users,
.top-nav {
  display: flex;
  align-items: center;
}

.users {
  img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
  }

  li {
    position: relative;
  }

  li:nth-of-type(1) img {
    z-index: 4;
    position: relative;
    margin-right: -5px;
  }

  li:nth-of-type(2) img {
    z-index: 3;
    position: relative;
    margin-right: -5px;
  }

  li:nth-of-type(3) img {
    z-index: 2;
    position: relative;
  }

  button {
    @include flex-center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $btn-bgn-color;
    box-sizing: border-box;
    margin-left: -5px;
    margin-top: -2px;
  }
  .fa-plus {
    color: white;
    font-size: 1rem;
  }

  button,
  img {
    cursor: pointer;
  }
}

.top-nav {
  button {
    background-color: $btn-bgn-color;
    border-radius: $default-radius;
    height: 40px;
  }
  li:nth-of-type(1) button {
    height: 40px;
    width: 60px;
  }
  li:nth-of-type(2) button,
  li:nth-of-type(3) button {
    margin-left: 4px;
    width: 40px;
  }

  i {
    color: white;
    font-size: 1rem;
  }
}

button:hover {
  background-color: rgba(255, 255, 255, 0.291);
}

// MAIN

main {
  display: grid;
  grid-template-columns: 1fr 4fr 7fr;
  background-color: var(--bg-color);
  // height: 90vh;
  button:hover {
    background: $btn-hover;
    color: white;
  }
}

// MAIN - NAV

main {
  height: 95vh;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 100%;
    // border: 1px solid black;
  }
  nav button {
    width: 40px;
    height: 40px;
    border-radius: $secondary-radius;
    box-shadow: var(--box-shadow);
  }
  ul {
    margin-top: 2rem;
  }
  li {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  li p {
    text-align: center;
    padding-top: 10px;
    font-size: 0.85rem;
  }

  .dark-mode {
    margin-bottom: 2rem;
  }
  i {
    font-size: 1.1rem;
  }
  p,
  i {
    color: $off-color;
  }
}

button:hover i {
  color: white;
}

// MAIN - FINDER

.finder {
  display: flex;
  // align-items: center;
  // margin: 2rem 0;
  // border: 1px solid black;

  .finder-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 100%;
    // width: 100%;
    background-color: var(--bg-color-wb);
    border-radius: $secondary-radius;
    margin: 2rem 0;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.088);
  }
  input,
  .search-btn,
  .results,
  .cat-btn,
  .results {
    width: 90%;
  }
  input:focus {
    outline: 1px solid rgb(163, 163, 163);
  }
  input {
    padding-left: 10px;
  }
  input,
  button {
    height: 40px;
    border-radius: $secondary-radius;
    box-sizing: border-box;
  }

  .search-btn,
  .cat-btn button {
    font-size: 0.85rem;
    font-weight: 500;
  }

  .search-btn {
    margin-bottom: 1rem;
    // background-color: #7F55F4;
    // font-size: 14px;
  }
  h3 {
    margin: 1rem 0 1.5rem 0;
    font-size: 18px;
  }
  input {
    margin: 1rem 0 1rem 0;
    border: solid 1px var(--bg-color);
  }
  .cat-btn {
    display: flex;
    justify-content: space-evenly;
  }
  .cat-btn button {
    width: 100%;
    // font-size: 15px;
  }
  .cat-btn button:nth-of-type(2) {
    margin: 0 10px;
  }
  .results {
    // flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    // height: 40%;
    overflow-y: auto;
    max-height: 68vh;
  }
  .results img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $default-radius;
    cursor: pointer;
  }
}

// MAIN - HERO

.hero {
  // border: 1px solid black;
  // height: 100%;
  // width: 100%;
  margin-left: 20px;
  box-shadow: -5px 0 10px -1px rgba(0, 0, 0, 0.088);
  // background-color: rgb(240, 240, 240);
  background-color: var(--bg-color-wb);
}

.hero-img {
  background-image: url(/assets/images/hero-image.webp);
  width: 100%;
  height: 30%;
  background-size: cover;
  background-position: center;
  @include flex-center;
  color: white;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
}

.hero-content {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // row-gap: 40px;

  overflow-y: auto;
  max-height: 64.5vh;
  margin-top: 10px;
  img {
    width: 100%;
  }
  div:nth-of-type(even) {
    background-color: var(--hero-off-color);
  }
}

.hero-details {
  // @include flex-center;
  display: flex;
  align-items: left;
  justify-content: center;
  max-height: 400px;
  min-height: 250px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 20px;
  }

  img {
    width: 40%;
    // max-height: 300px;
    object-fit: contain;
    // padding: 40px;
    // max-height: 300px;
  }
  h3 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  button {
    border-radius: $secondary-radius;
    width: 50%;
    height: 40px;
    margin-top: 10px;
  }
  p {
    color: $off-color;
    font-size: 14px;
    line-height: 1.5;
  }
}

.hero-details:nth-of-type(even) p,
.hero-details:nth-of-type(even) h3 {
  padding-left: 40px;
}

.hero-details:nth-of-type(1) p,
.hero-details:nth-of-type(1) h3,
.hero-details:nth-of-type(1) button {
  margin-left: 40px;
}

.sign-up-btn {
  background-color: #17d7ca;
  font-weight: 500;
  font-size: 14px;
}

// FOOTER

footer {
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // font-size: 0.8rem;
  // ul {
  //   display: flex;
  //   align-items: center;
  // }
  // li {
  //   padding-right: 15px;
  // }
}

// MEDIA QUERIES

@media (max-width: 1052px) {
  .hero-details:nth-of-type(1) {
    min-height: 280px;
  }
}

// @media (max-width: 824px) {
//   .hero-details:not(:nth-child(1)) {
//     min-height: 250px;
//   }
// }

// @media (min-width: 781px) {
//   nav li:last-of-type {
//     display: none;
//   }
// }

@media (max-width: 780px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    nav li:not(:last-of-type) {
      margin-right: 20px;
    }
    .dark-mode {
      display: none;
    }
    nav {
      margin-left: 20px;
      margin-right: 20px;
      max-height: 100px;
    }
    nav button {
      // margin: 0;
      width: 70px;
    }
  }
  footer {
    display: none;
  }
  .results {
    height: 40vh;
  }
  .hero {
    margin: 0;
  }
  .hero-content {
    overflow-y: visible;
  }
}

@media (max-width: 510px) {
  header h1 {
    display: none;
  }
}

@media (max-width: 470px) {
  nav button {
    // margin: 0;
    max-width: 60px;
  }
  nav p {
    display: none;
  }
  main nav {
    max-height: 70px;
  }
}

@media (max-width: 433px) {
  .hero-details:nth-of-type(1) {
    min-height: 350px;
  }
}

@media (max-width: 420px) {
  nav button {
    // margin: 0;
    max-width: 40px;
  }
  nav ul {
    nav li:not(:last-of-type) {
      margin-right: 0px;
    }
  }
}

@media (max-width: 400px) {
  .users li:not(:last-of-type) {
    display: none;
  }
}

@media (max-width: 320px) {
  main nav {
    display: none;
  }
}