@import "/src/css/reset.css";

// VARIABLES

$primary-color: #00c3ff;
$secondary-color: #9246f3;
$bgn-color: rgb(226, 226, 226);
$btn-bgn-color: rgba(255, 255, 255, 0.153);
$default-radius: 5px;
$secondary-radius: 8px;

// FONTS

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/google-fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

// MIXIN

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// GENERAL

body {
  // margin: 4px;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

// HEADER

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top-left-radius: $secondary-radius;
  // border-top-right-radius: $secondary-radius;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // position: sticky;
  // top: 4px;
  // left: 4px;
  // right: 4px;
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  padding: 5px 20px;

  h1 {
    font-size: 1.2rem;
    color: white;
  }

  nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

}

.logo {
  @include flex-center;
  margin-left: 5px;
  img {
    height:40px;
    padding-right: 10px;
  }
}

.users {
  margin-right: 10px;
}

.users,
.top-nav {
  display: flex;
  align-items: center;
}

.users {
  img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
  }

  li {
    position: relative;
  }

  li:nth-of-type(1) img {
    z-index: 4;
    position: relative;
    margin-right: -5px;
  }

  li:nth-of-type(2) img {
    z-index: 3;
    position: relative;
    margin-right: -5px;
  }

  li:nth-of-type(3) img {
    z-index: 2;
    position: relative;
  }

  button {
    @include flex-center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $btn-bgn-color;
    box-sizing: border-box;
    margin-left: -5px;
    margin-top: -2px;
  }

  .fa-plus {
    color: white;
    font-size: 1rem;
  }

  button,
  img {
    cursor: pointer;
  }
}

.top-nav {
  button {
    background-color: $btn-bgn-color;
    border-radius: $default-radius;
    height: 40px;
  }
  li:nth-of-type(1) button {
    height: 40px;
    width: 60px;
  }
  li:nth-of-type(2) button,
  li:nth-of-type(3) button {
    margin-left: 4px;
    width: 40px;
  }

  i {
    color: white;
    font-size: 1rem;
  }
}

// MAIN

main {
  display: grid;
  grid-template-columns: 1fr 4fr 7fr;
  background-color: $bgn-color;
  // height: 90vh;
}

// MAIN - NAV

main {
  height: 93vh;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 100%;
    // border: 1px solid black;
  }
  nav button {
    width: 40px;
    height: 40px;
    border-radius: $secondary-radius;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.088);
  }
  ul {
    margin-top: 2rem;
  }
  li {
    @include flex-center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  li p {
    text-align: center;
    padding-top: 3px;
  }

  .dark-mode {
    margin-bottom: 2rem;
  }
}

// MAIN - FINDER

.finder {
  display: flex;
  // align-items: center;
  // margin: 2rem 0;
  // border: 1px solid black;

  .finder-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 100%;
    // width: 100%;
    background-color: white;
    border-radius: $secondary-radius;
    margin: 2rem 0;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.088);
    
  }
  input, .search-btn, .results, .cat-btn, .results {
    width: 90%;
    
  }
  input, button {
    height: 40px;
    border-radius: $secondary-radius;
    box-sizing: border-box;
  }

  .search-btn {
    margin-bottom: 1rem;
  }
  h3 {
    margin: 1rem 0 1.5rem 0;
  }
  input {
    margin: 1rem 0 1rem 0;
    border: solid 1px $bgn-color;
  }
  .cat-btn {
    display: flex;
    justify-content: space-evenly;
  }
  .cat-btn button {
    width: 100%;
  }
  .cat-btn button:nth-of-type(2) {
    margin: 0 10px;
  }
  .results {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
    gap: 10px;
    // height: 40%;
    overflow-y: auto;
    max-height: 60vh;
  }
  .results img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: $default-radius;
  }

  
}

// MAIN - HERO

.hero {
  // border: 1px solid black;
  // height: 100%;
  // width: 100%;
  margin-left: 20px;
  box-shadow: -5px 0 10px -1px rgba(0, 0, 0, 0.088);
  // background-color: rgb(240, 240, 240);
  background-color: white;
}

.hero-img {
  background-image: url(/assets/images/user-image-placeholder-1.jpeg);
  width: 100%;
  height: 30%;
  background-size:cover;
  background-position: center;
  @include flex-center;
  color: white;
  h1 {
    font-size: 3rem;
  }
}

.hero-content {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // row-gap: 40px;
  
  overflow-y: auto;
  max-height: 64.5vh;
  margin-top: 10px;
  img{
    width: 100%;
  }
  div:nth-of-type(even) {
    background-color: rgb(240, 240, 240);
  }
}

.hero-details {
  // @include flex-center;
  display: flex;
  align-items: left;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
  }
  img {
    width: 50%;
    object-fit: cover;
  }
  h3 {
    font-size: 24px;
    padding-bottom: 10px;
  }
  button {
    border-radius: $secondary-radius;
    width: 50%;
    height: 40px;
    margin-top: 10px;
  }
}

// FOOTER

footer {
  background: linear-gradient(90deg, $primary-color, $secondary-color);
  height: 25px;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // font-size: 0.8rem;
  // ul {
  //   display: flex;
  //   align-items: center;
  // }
  // li {
  //   padding-right: 15px;
  // }
}
