@import "./reset.css";
@font-face {
  font-family: "Open Sans";
  src: url("/assets/google-fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #00c3ff, #9246f3);
  padding: 5px 20px;
}
header h1 {
  font-size: 1.2rem;
  color: white;
}
header nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.logo img {
  height: 40px;
  padding-right: 10px;
}

.users {
  margin-right: 10px;
}

.users,
.top-nav {
  display: flex;
  align-items: center;
}

.users img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  box-sizing: border-box;
}
.users li {
  position: relative;
}
.users li:nth-of-type(1) img {
  z-index: 4;
  position: relative;
  margin-right: -5px;
}
.users li:nth-of-type(2) img {
  z-index: 3;
  position: relative;
  margin-right: -5px;
}
.users li:nth-of-type(3) img {
  z-index: 2;
  position: relative;
}
.users button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.153);
  box-sizing: border-box;
  margin-left: -5px;
  margin-top: -2px;
}
.users .fa-plus {
  color: white;
  font-size: 1rem;
}
.users button,
.users img {
  cursor: pointer;
}

.top-nav button {
  background-color: rgba(255, 255, 255, 0.153);
  border-radius: 5px;
  height: 40px;
}
.top-nav li:nth-of-type(1) button {
  height: 40px;
  width: 60px;
}
.top-nav li:nth-of-type(2) button,
.top-nav li:nth-of-type(3) button {
  margin-left: 4px;
  width: 40px;
}
.top-nav i {
  color: white;
  font-size: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 7fr;
  background-color: rgb(226, 226, 226);
}

main {
  height: 93vh;
}
main nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main nav button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.088);
}
main ul {
  margin-top: 2rem;
}
main li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
main li p {
  text-align: center;
  padding-top: 3px;
}
main .dark-mode {
  margin-bottom: 2rem;
}

.finder {
  display: flex;
}
.finder .finder-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  margin: 2rem 0;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.088);
}
.finder input, .finder .search-btn, .finder .results, .finder .cat-btn, .finder .results {
  width: 90%;
}
.finder input, .finder button {
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
}
.finder .search-btn {
  margin-bottom: 1rem;
}
.finder h3 {
  margin: 1rem 0 1.5rem 0;
}
.finder input {
  margin: 1rem 0 1rem 0;
  border: solid 1px rgb(226, 226, 226);
}
.finder .cat-btn {
  display: flex;
  justify-content: space-evenly;
}
.finder .cat-btn button {
  width: 100%;
}
.finder .cat-btn button:nth-of-type(2) {
  margin: 0 10px;
}
.finder .results {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  overflow-y: auto;
  max-height: 60vh;
}
.finder .results img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.hero {
  margin-left: 20px;
  box-shadow: -5px 0 10px -1px rgba(0, 0, 0, 0.088);
  background-color: white;
}

.hero-img {
  background-image: url(/assets/images/user-image-placeholder-1.jpeg);
  width: 100%;
  height: 30%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero-img h1 {
  font-size: 3rem;
}

.hero-content {
  overflow-y: auto;
  max-height: 64.5vh;
  margin-top: 10px;
}
.hero-content img {
  width: 100%;
}
.hero-content div:nth-of-type(even) {
  background-color: rgb(240, 240, 240);
}

.hero-details {
  display: flex;
  align-items: left;
  justify-content: center;
}
.hero-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
}
.hero-details img {
  width: 50%;
  object-fit: cover;
}
.hero-details h3 {
  font-size: 24px;
  padding-bottom: 10px;
}
.hero-details button {
  border-radius: 8px;
  width: 50%;
  height: 40px;
  margin-top: 10px;
}

footer {
  background: linear-gradient(90deg, #00c3ff, #9246f3);
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
