@import "./reset.css";

// VARIABLES

$primary-color: #333;
$btn-bgn-color: rgba(255, 255, 255, 0.153);
$default-radius: 5px;

// MIXIN

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// GENERAL

body {
  margin: 4px;
}

// HEADER

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  background: linear-gradient(90deg, #00c3ff, #9246f3);
  padding: 5px 20px;

  h1 {
    font-size: 1.2rem;
    color: white;
  }

  nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}

.users {
  margin-right: 10px;
}

.users,
.top-nav {
  display: flex;
  align-items: center;
}

.users {
  img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    box-sizing: border-box;
  }

  li {
    position: relative;
  }

  li:nth-of-type(1) img {
    z-index: 4;
    position: relative;
    margin-right: -5px;
  }

  li:nth-of-type(2) img {
    z-index: 3;
    position: relative;
    margin-right: -5px;
  }

  li:nth-of-type(3) img {
    z-index: 2;
    position: relative;
  }

  // i {
  //   background-color: rgba(255, 255, 255, 0.317);
  //   border-radius: 50%;
  //   // width: 40px;
  //   // height: 40px;
  //   font-size: 20px;
  //   padding: 10px 12px;
  //   margin-left: 5px;
  // }

  button {
    @include flex-center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: $btn-bgn-color;
    box-sizing: border-box;
    margin-left: -5px;
    margin-top: -2px;
  }

  .fa-plus {
    color: white;
    font-size: 1rem;
  }

  button,
  img {
    cursor: pointer;
  }
}

.top-nav {
  button {
    background-color: $btn-bgn-color;
    border: none;
    border-radius: $default-radius;
    height: 40px;
    cursor: pointer;
  }
  li:nth-of-type(1) button {
    height: 40px;
    width: 60px;
  }
  li:nth-of-type(2) button,
  li:nth-of-type(3) button {
    margin-left: 4px;
    width: 40px;
  }

  i {
    color: white;
    font-size: 1rem;
  }
}


// MAIN

